<md-content>
  <md-tabs md-selected="selectedIndexInteger" class="md-primary md-whiteframe-z1 flex-noshrink" md-center-tabs md-border-top md-dynamic-height>
    <md-tab label="LATEST">

      <md-content layout-padding class="mdc-bg-white">
        <md-list>
          <md-subheader>Activity</md-subheader>
          <!--You can use md-no-sticky class-->
          <md-list-item class="md-3-line" ng-repeat="i in [1,2,3,4]" ng-click="null">
            <img ng-src="assets/images/avatar.jpeg" class="md-avatar">
            <div class="md-list-item-text" layout="column">
              <h3>Brunch this weekend?</h3>
              <h4>Ali Conners</h4>
              <p>I'll be in your neighborhood doing errans</p>
            </div>

          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
    <md-tab label="FAVORITES">

      <md-tab-body>22</md-tab-body>
    </md-tab>
  </md-tabs>

</md-content>