
  <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z1"   md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar class="md-whiteframe-z2">
      <div layout-padding>
        <img src="assets/images/avatar.jpeg" class="md-avatar" flex/>  
      </div>
      <div class="md-toolbar-tools" layout="column" layout-align="start start">
        <h3 flex>luyaohua</h3>
        <h3 flex>luyaohua@tvdms.com.hk</h3>
      </div>
    </md-toolbar>

    <md-list>
      <md-list-item ng-click="dosomething()">
        <md-icon><i class="zmdi zmdi-view-dashboard"></i></md-icon> <p>Dashboard</p>
      </md-list-item>
      <md-list-item ng-click="dosomething()">
        <md-icon><i class="zmdi zmdi-accounts-add"></i></md-icon> <p>Frends</p>
      </md-list-item>
      <md-list-item ng-click="dosomething()">
        <md-icon><i class="zmdi zmdi-comment-text"></i></md-icon> <p>Message</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky">Management</md-subheader>
      <md-list-item ng-click="dosomething()">
        <md-icon><i class="zmdi zmdi-comment-text"></i></md-icon> <p>Trash</p>
      </md-list-item>
      <md-list-item ng-click="dosomething()">
        <md-icon><i class="zmdi zmdi-settings"></i></md-icon> <p>Settings</p>
      </md-list-item>
    </md-list>
  </md-sidenav>
